.klickr {
  font-size: 20px;
  color: white;
  font-family: Helvetica, sans-serif;
  z-index: 2147483647;
}

.klickr-msg {
  background-color: rgba(150, 150, 150, 0.85) !important;
  border-radius: 5px;
  padding: 15px;
  max-width: 50%;
}

.klickr-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
}

.klickr-msg-record {
  background-color: rgba(150, 150, 150, 0.85) !important;
  color: #B9121B !important;
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;
}

.klickr-msg-play {
  color: #588F27 !important;
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;
}

.klickr-record {
  background: #B9121B;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  margin: 0px auto 10px auto;
}

.klickr-play {
  height: 0px;
  width: 0px;
  margin: 0px auto 10px auto;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 20px solid #588F27;
}

.klickr-msg-sticky {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

/*
==============================================
klickr-click
==============================================
*/

.klickr-click {
  border-radius: 100%;
  color: white;
  text-align: center;
  font-family: sans-serif;
  border: 2px solid rgb(150, 150, 150);
  overflow: hidden;
  width: 70px;
  height: 70px;
  line-height: 70px;
}

.klickr-click-anim {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);

  vertical-align: middle;
}

/*
==============================================
klickr-footer
==============================================
*/

.klickr-footer {
  position: fixed;
  left: 2.5%;
  margin: 0 auto;
  width: 90%;
  padding: 15px 2.5%;
  background-color: rgba(150, 150, 150, 0.85);
  border-radius: 5px;
}

.klickr-footer:after,
.klickr-footer::after {
  position: absolute;
  top: 100%;
  left: 50%;
  content: '';
  width: 0;
  height: 0;
  border-top: solid 15px rgba(150,150,150,0.85);
  border-left: solid 15px transparent;
  border-right: solid 15px transparent;
}

/*
==============================================
klickr-header
==============================================
*/

.klickr-header {
  position: fixed;
  left: 2.5%;
  top: 25px;
  margin: 0 auto;
  width: 90%;
  padding: 15px 2.5%;
  background-color: rgba(150, 150, 150, 0.85);
  border-radius: 5px;
}

.klickr-header:after, .klickr-header:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  position: absolute;
}

.klickr-header:after {
  border-bottom-color: rgba(150,150,150,0.85);
  border-width: 15px;
  margin-left: -15px;
}

/*
==============================================
klickr-anim-hatch
==============================================
*/

.klickr-anim-hatch{
  animation-name: klickr-anim-hatch;
  -webkit-animation-name: klickr-anim-hatch;

  animation-duration: 2s;
  -webkit-animation-duration: 2s;

  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;

  transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;

  visibility: visible !important;
}

@keyframes klickr-anim-hatch {
  0% {
    transform: rotate(0deg) scaleY(0.6);
  }
  20% {
    transform: rotate(-2deg) scaleY(1.05);
  }
  35% {
    transform: rotate(2deg) scaleY(1);
  }
  50% {
    transform: rotate(-2deg);
  }
  65% {
    transform: rotate(1deg);
  }
  80% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@-webkit-keyframes klickr-anim-hatch {
  0% {
    -webkit-transform: rotate(0deg) scaleY(0.6);
  }
  20% {
    -webkit-transform: rotate(-2deg) scaleY(1.05);
  }
  35% {
    -webkit-transform: rotate(2deg) scaleY(1);
  }
  50% {
    -webkit-transform: rotate(-2deg);
  }
  65% {
    -webkit-transform: rotate(1deg);
  }
  80% {
    -webkit-transform: rotate(-1deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}

/*
==============================================
klickr-fade-in
==============================================
*/

.klickr-fade-in{
  animation-name: klickr-fade-in;
  -webkit-animation-name: klickr-fade-in;

  animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;

  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;

  visibility: visible !important;
}

@keyframes klickr-fade-in {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  20% {
    transform: scale(0.5);
    opacity: 1;
  }
  50% {
    transform: scale(0.9);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

@-webkit-keyframes klickr-fade-in {
  0% {
    -webkit-transform: scale(0);
    opacity: 1;
  }
  20% {
    -webkit-transform: scale(0.5);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(0.9);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}